$body-background: #F5F5F5;
$sidebar-background: #333333;
$global-grey: #DDDDDD;
$sidebar-hover: rgba(255, 255, 255, 0.2);
$white: #FFF;
$dark-text: #333333;

/* Font: Montserrat[Font]
"https://fonts.google.com/specimen/Montserrat"
Accessed 21/2/24 */
@font-face {
    font-family: "Montserrat";
    src: url("/src/assets/fonts/Montserrat-Regular.ttf");
}

/* Font: Roboto[Font]
"https://fonts.google.com/specimen/Roboto"
Accessed 21/2/24 */
@font-face {
    font-family: "Roboto";
    src: url("/src/assets/fonts/Roboto-Regular.ttf");
}

@mixin respond-small {
    @media (min-width: 600px) { @content };
}
    
@mixin respond-medium {
    @media (min-width: 768px) { @content };
}
    
@mixin respond-large {
    @media (min-width: 992px) { @content };
}
    
@mixin respond-x-large {
    @media (min-width: 1200px) { @content };
}